<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_no %><br>
    <%= f.text_field :contract_no, required: true %>
  </div>
  <div class="field">
    <%= f.label :scenario %><br>
    <%= f.select :scenario, ["NB", "Reprint", "Reprocess", "Agent Duplicate"], required: true %>
  </div>

  <div class="field">
    <%= f.label :dm_file_path %><br>
    <%= f.text_area :dm_file_path %>
  </div>
  <div class="field">
    <%= f.label :dm_page_range %><br>
    <%= f.text_field :dm_page_range %>
  </div>
  <div class="field">
    <%= f.label :csf_file_path %><br>
    <%= f.text_area :csf_file_path %>
  </div>
  <div class="field">
    <%= f.label :sequence_tested %><br>
    <%= f.check_box :sequence_tested %>
  </div>

  <div class="field">
    <%= f.label :end_to_end_tested %><br>
    <%= f.check_box :end_to_end_tested %>
  </div>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all, :id, :product_name, {prompt: true}, {required: true} %>
  </div>

  <div class="field">
    <%= f.label :user_id, "Allocated to" %><br>
    <%= f.collection_select :user_id, User.all, :id, :username, {prompt: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
