<p id="notice"><%= notice %></p>
<h1>Listing Contracts</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        Contract ID
      </th>
      <th>Contract No</th>
      <th>Scenario</th>
      <th>Product Name</th>
      <th>Forms Covered</th>
      <th>Sequence Tested?</th>
      <th>End to End Tested?</th>
      <th>Allocated At</th>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.id, contract %></td>
        <td><%= contract.contract_no %></td>
        <td><%= contract.scenario %></td>
        <td><%= contract.product.product_name if contract.product %></td>
        <td><%= contract.forms.size %></td>
        <td><%= contract.sequence_tested ? "Yes" : "No" %></td>
        <td><%= contract.end_to_end_tested ? "Yes" : "No" %></td>

        <td><%= contract.allocated_at %></td>

        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
<%= link_to 'Import Contract', new_contracts_import_path %>
