<h1>Showing Contract</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Contract No </strong>
  <%= @contract.contract_no %>
</p>

<p>
  <strong>Scenario</strong>
  <%= @contract.scenario %>
</p>
<p>
  <strong>DM File Path</strong>
  <%= @contract.dm_file_path %>
</p>
<p>
  <strong>DM Page Range</strong>
  <%= @contract.dm_page_range %>
</p>
<p>
  <strong>CSF File Path</strong>
  <%= @contract.csf_file_path %>
</p>
<p>
  <strong>Sequence Tested?</strong>
  <%= @contract.sequence_tested ? "Yes": "Not Yet" %>
</p>

<p>
  <strong>End to End Tested?</strong>
  <%= @contract.end_to_end_tested ? "Yes": "Not Yet" %>
</p>

<p>
  <strong>Allocated at</strong>
  <%= @contract.allocated_at %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
