<p id="notice"><%= notice %></p>

<p>
  <strong>UserName:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Group:</strong>
  <%= @user.group.upcase %>
</p>


<p>
  <strong>Hint:</strong>
  <%= @user.hint %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Reset Password', password_reset_path %>
