<%= form_for(@mocktest) do |f| %>
  <% if @mocktest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mocktest.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @mocktest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dm_file_path %><br>
    <%= f.text_area :dm_file_path %>
  </div>
  <div class="field">
    <%= f.label :csf_file_path %><br>
    <%= f.text_area :csf_file_path %>
  </div>
  <div class="field">
    <%= f.label :form_tested %><br>
    <%= f.check_box :form_tested %>
  </div>
  <div class="field">
    <%= f.label :tested_at %><br>
    <%= f.datetime_field :tested_at %>
  </div>
  <div class="field">
    <%= f.label :allocated_at %><br>
    <%= f.datetime_field :allocated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
