<p id="notice"><%= notice %></p>
<h1>Listing Mocktests</h1>

<table>
  <thead>
    <tr>
      <th>DM File Path</th>
      <th>CSF File Path</th>
      <th>FormTested?</th>
      <th>Allocated At</th>
      <th>Tested At</th>

  </thead>

  <tbody>
    <% @mocktests.each do |mocktest| %>
      <tr>
        <td><%= mocktest.dm_file_path %></td>
        <td><%= mocktest.csf_file_path %></td>
        <td><%= mocktest.form_tested ? "Yes" : "No" %></td>
        <td><%= mocktest.tested_at %></td>
        <td><%= mocktest.allocated_at %></td>
        <td><%= link_to 'Show', mocktest %></td>
        <td><%= link_to 'Edit', edit_mocktest_path(mocktest) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mocktest', new_mocktest_path %>
