<h1>Showing form</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>DM File Path</strong>
  <%= @mocktest.dm_file_path %>
</p>
<p>
  <strong>CSF File Path</strong>
  <%= @mocktest.csf_file_path %>
</p>
<p>
  <strong>Form Tested?</strong>
  <%= @mocktest.form_tested ? "Yes": "Not Yet" %>
</p>
<p>
  <strong>Tested at</strong>
  <%= @mocktest.tested_at %>
</p>
<p>
  <strong>Allocated at</strong>
  <%= @mocktest.allocated_at %>
</p>


<%= link_to 'Edit', edit_mocktest_path(@mocktest) %> |
<%= link_to 'Back', mocktests_path %>
