<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :form_name %><br>
    <%= f.text_field :form_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all, :id, :product_name, {prompt: true}, {required: true} %>
  </div>
  <div class="field">
    <%= f.label :actual_drop_date %><br>
    <%= f.date_field :actual_drop_date %>
  </div>
  <div class="field">
    <%= f.label :released %><br>
    <%= f.check_box :released %>
  </div>
  <div class="field">
    <%= f.label :story_card_validated %><br>
    <%= f.check_box :story_card_validated %>
  </div>
  <div class="field">
    <%= f.label :form_status %><br>
    <%= f.select :form_status, ["Triggered", "EDL Missing", "Out Of Scope", "Print Solution", "Untriggered", "Mock"], prompt: true %>
  </div>
  <div class="field">
    <%= f.label :form_exec_status %><br>
    <%= f.select :form_exec_status, ["Yet to start","Can start","Completed"] %>
  </div>
  <div class="field">
    <%= f.label :executed_with %><br>
    <%= f.select :executed_with, ["Mock", "EDL Dump", "Contract", "EDL Dump/Contract"], {prompt: true},
    {disabled: true}  %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>

  <div class="actions">
    <%= f.submit(:data => {:disable_with => "Please wait.."}) %>
    <%= f.submit "Clear/Undo", :type => "reset" %>
  </div>
<% end %>
