<p id="notice"><%= notice %></p>

<h1>Listing Forms</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Form Name</th>
      <th>Product</th>
      <th>Form Status</th>
      <th>Released?</th>
      <th>Drop Date</th>
      <th>Form Execution Status</th>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.form_name %></td>
        <td><%= form.product_id.nil? ? "" : form.product.product_name %></td>
        <td><%= form.form_status %></td>
        <td><%= form.released ? "Yes" : "No" %></td>
        <td><%= form.actual_drop_date %></td>
        <td><%= form.form_exec_status %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
