<p id="notice"><%= notice %></p>

<p>
  <strong>Form Name</strong>
  <%= @form.form_name %>
</p>

<p>
  <strong>Released?</strong>
  <%= @form.released ? "Yes": "Not Yet" %>
</p>
<p>
  <strong>Story Card Validated?</strong>
  <%= @form.story_card_validated ? "Yes" : "Not Yet" %>
</p>
<p>
  <strong>Form Status</strong>
  <%= @form.form_status%>
</p>
<p>
  <strong>Form Execution Status</strong>
  <%= @form.form_exec_status %>
</p>
<p>
  <strong>Form Executed With:</strong>
  <%= @form.executed_with %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @form.comments %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
