@import "bootstrap-sprockets";
@import "bootstrap";


body{
  padding-top: 70px;
}

footer {
  width: 100%;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #E3E3E3;
  border-top: 1px solid #DDDDDD;
}
