<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :planned_drop_date %><br>
    <%= f.date_field :planned_drop_date %>
  </div>
  <div class="field">
    <%= f.label :mapped_or_product_with_zero_forms, "Mapped Product/Product With 0 Forms" %><br>
    <%= f.check_box :mapped_or_product_with_zero_forms %>
  </div>
  <div class="field">
    <%= f.label :lob %><br>
    <%= f.select :lob, ["PALLM", "Cyberlife", "ICUBE", "Vision"], {prompt: true}, {required: true} %>
  </div>
  <div class="field">
    <%= f.label :product_status %><br>
    <%= f.select :product_status, ["", "Out of Scope"], {prompt: true} %>
  </div>
  <div class="field">
    <%= f.label :release_id %><br>
    <!-- <%= f.text_field :release_id %> -->
    <%= f.collection_select :release_id, Release.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :rtc_task_updated, "RTC Task Updated" %><br>
    <%= f.check_box :rtc_task_updated %>
  </div>
  <div class="actions">
    <%= f.submit(:data => {:disable_with => "Please wait.."}) %>
    <%= f.submit "Clear/Undo", :type => "reset" %>
  </div>
<% end %>
