<h1>Bulk Uploader </h1>
<%= form_tag(action: "bulk_upload", multipart: true) do %>

  <%= file_field_tag(:file_name, required: true) %>
  <br><br>
  <%= label_tag(:output_file_path, "Output File Path") %>
  <%= text_area_tag(:output_file_path, "", size: "40x2") %>
  <br><br>
  <%= submit_tag("BulkUpload") %>

<% end %>
