<div>
  <p>
    <h1>Dashboard for release - <%= @release.name %></h1>
  </p>
</div>
<%

  total_forms = 0
  edl_missing_forms = 0
  total_exec_forms = 0
  completed_products = 0
  @products.each do |product|
    total_forms += product.forms.where.not(form_status: "Out Of Scope").count
    edl_missing_forms += product.forms.where(form_status: "EDL Missing").count
    total_exec_forms += product.forms.where(form_exec_status: "Completed").count
    completed_products += 1 if (product.forms.size == product.forms.where(form_exec_status: "Completed") && nodefects)
  end


%>

<div>
  <p>
    <h3>Overall Execution Status</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Total forms</th>
          <th>EDL Missing</th>
          <th>Total Executed Forms</th>
          <th>100% Completed Products</th>
        </thead>
        <tbody>
          <tr>
            <td><%= total_forms %></td>
            <td><%= edl_missing_forms %></td>
            <td><%= total_exec_forms %></td>
            <td><%= completed_products %></td>
          </tr>
        </tbody>
      </table>
  </p>
</div>



<div>
  <p>
    <h3>Execution Status</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>LOB</th>
          <th>EDL Missing</th>
          <th>Forms released - Expected</th>
          <th>Forms released - Actual</th>
          <th>TD - Contract Available Forms</th>
          <th>TD - Mock Forms</th>
          <th>TD - Not Available</th>
          <th>Execution completed - Contract</th>
          <th>Execution completed - Mock</th>
          <th>Execution pending</th>
        </thead>
        <tbody>
          <%
            @products.select(:lob).distinct.each do |product|
              next if product.lob.blank?
          %>
          <tr>
            <td> <%= current_lob = product.lob %> </td>
            <%
              forms_count_lob = 0
              edl_missing_forms_lob = 0
              forms_released_count_lob = 0
              td_available_contracts_released_forms = 0
              td_available_mock_released_forms = 0
              lob_products = @products.where("lob = ? and planned_drop_date < ?", current_lob, Date.today)
              lob_products.each do |lob_product|
                forms_count_lob += lob_product.forms.where.not(form_status: "Out of Scope").count
                edl_missing_forms_lob += lob_product.forms.where(form_status: "EDL Missing").count

                forms_released_count_lob += lob_product.forms.where(released: true).
                  where.not(form_status: ["EDL Missing", "Out of Scope"] ).count

                all_forms_lob_product = lob_product.forms
                all_forms_lob_product.each do |current_form|
                  if current_form.released
                    if current_form.form_status.eql? "Triggered" && current_form.contracts.exists?
                      td_available_contracts_released_forms += 1
                    elsif current_form.form_status.eql? "Mock"
                      td_available_mock_released_forms += 1
                    end

                  end
                end

              end
            %>
            <td><%= edl_missing_forms_lob %></td>
            <td><%= forms_count_lob %></td>
            <td><%= forms_released_count_lob %></td>
            <td><%= td_available_contracts_released_forms %></td>
            <td><%= td_available_mock_released_forms %></td>
            <td><%= forms_released_count_lob - td_available_contracts_released_forms - td_available_mock_released_forms %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </p>
</div>


<div>
  <p>
    <h3>Test Data Status</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>LOB</th>
          <th>Total forms</th>
          <th>EDL Missing</th>
          <th>Total Testdata Available Forms</th>
          <th>Contract Available Forms - released</th>
          <th>Mock Forms - released</th>
          <th>Pending Forms - released</th>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
  </p>
</div>
