<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Planned Drop Date</th>
      <th>Mapped/ProductWith0Forms</th>
      <th>LOB</th>
      <th>Release</th>
      <th>RTC Task Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.planned_drop_date %></td>
        <td><%= product.mapped_or_product_with_zero_forms ? "Mapped" : "" %></td>
        <td><%= product.lob %></td>
        <td><%= product.release.name if product.release  %></td>
        <td><%= product.rtc_task_updated ? "Yes" : "No"  %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %> |
<%= link_to 'Bulk Upload', products_bulk_upload_path %>
