<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Planned Drop Date:</strong>
  <%= @product.planned_drop_date %>
</p>

<p>
  <strong>Mapped Product/Product With 0 Forms:</strong>
  <%= @product.mapped_or_product_with_zero_forms ? "TRUE" : "FALSE" %>
</p>

<p>
  <strong>LOB:</strong>
  <%= @product.lob %>
</p>

<p>
  <strong>Product status:</strong>
  <%= @product.product_status if @product.product_status %>
</p>

<p>
  <strong>Release:</strong>
  <%= @product.release.nil? ? "Not Selected" : @product.release.name %>
</p>

<p>
  <strong>RTC Task Updated:</strong>
  <%= @product.rtc_task_updated ? "Yes" : "No" %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>
